.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas: "A form b";
}

.A {
  grid-area: A;
}

.b {
  grid-area: b;
}

.form {
  grid-area: form;
  text-align: center;
}

.numero {
  font-family: "Oswald", sans-serif;
  font-family: "Pacifico", cursive;
  color: red;
  font-size: 150px;
}
